<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock title %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="/css/style.css">
			<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Space+Mono&display=swap" rel="stylesheet">
		{% endblock stylesheets %}
		{% endblock head %}
	</head>
	<body>
		{% block body %}
			<div id="content">{% block content %}{% endblock %}</div>
			<div id="footer">
				{% block footer %}

				{% endblock %}
			</div>

		{% endblock body%}
		{% block javascripts %}{% endblock %}
	</body>
</html>
