<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>Translator</title>
	</head>
	<body>
		<header>
			<h1>Translater Data Page</h1>
			<p>
				This is the Traslator data main page
			</p>
		</header>
		<main>
			<p>We are yet to connect to the database</p>
			<ul>
				<li><a class="a_link"href="{{path("home")}}">Home</a></li>
				<li><a class="a_link"href="{{path("index_catalog")}}">Catalog</a></li>
			</ul>
		</main>
	</body>
</html>
