<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <header>
      <h1>View details</h1>
     
    </header>
    <main>
     <h4>ID: {{id}} </h4>
     <p>Key: 1</p>
     <p>Language: nl</p>
     <p>Message: Hallo</p>
       <ul>
           
              <li><a class="a_link" href="{{path("index_catalog")}}">Back</a>
            
            </li>
        </ul>
    </main>
  </body>
</html>